<ion-header>
  <ion-navbar>
  	<button menuToggle>
		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="about">
    <ion-card>
    	<ion-card-header>
  			Our History
	    </ion-card-header>
	    <ion-card-content>
                <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
        </ion-card-content>
    </ion-card>  

    <div class="card">
  		<div class="item item-divider">
  			Corporate Leadership
  		</div>

  		<div *ngIf="showLeaders">
	  		<div class="item item-text-wrap">
				<ion-list>
					  <ion-item *ngFor="let leader of leaderships" class="item-thumbnail-left">
						<img src="http://localhost:3000/{{leader.image}}">
			  			<p><b>{{leader.name}}</b></p>
			  			<p><b>{{leader.designation}}</b></p>
			  			<p>{{leader.description}}</p>
					  </ion-item>
				</ion-list>
			</div>
  		</div>
    </div>  

</ion-content>
