page-home {
  .btn-facebook {
    color           : #fff;
    background-color: #3b5998;
  }

  .btn-youtube {
    color           : #fff;
    background-color: #ff4b39;
  }

  .btn-googleplus {
    color           : #fff;
    background-color: #dd4b39;
  }

  .btn-twitter {
    color           : #fff;
    background-color: #59acee;
  }

  .btn-mail {
    color           : #fff;
    background-color: #512da8;
  }

  .btn-linkedin {
    color           : #fff;
    background-color: #007bb6;
  }
}
