<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dish Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="dishdetail">

  <div class="card" *ngIf="dish">
    <div class="item item-body item-text-wrap">
      <img src="http://localhost:3000/{{dish.image}}" class="full-image">
      <h2>
        {{dish.name}} 
        <span style="font-size:75%">{{dish.price}}</span>
      <span class="badge badge-assertive">{{dish.label}}</span>
    </h2>
    <p>{{dish.description}}</p>
    </div>
  </div>  

  <div class="row" *ngIf="dish">
    <div class="col col-offset-10">
      <h4>
        Customer Comments
        <small>Sort by: <input type="text"></small>
      </h4>

      <ul class="list">
        <li *ngFor="let comment of dish.comments">
          <blockquote>
            <p>{{comment.rating}} Stars</p>
            <p>{{comment.comment}}</p>
            <footer>{{comment.author}}, {{comment.date}}</footer>
          </blockquote>
        </li>
      </ul>
    </div>
  </div>

</ion-content>