<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-image">

  <!-- List of dishes -->
  <div *ngIf="dishes">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-lg-4 *ngFor="let dish of dishes">
          <ion-card (click)="dishSelected($event, dish)" (pan)="addToFavorites(dish)">
            <img src="{{ BaseURL + '/' + dish.image }}" alt="{{ dish.name }}">
            <div class="card-title">{{ dish.name }}</div>
            <div class="card-subtitle">{{ dish.description }}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Spinner -->
  <div [hidden]="dishes || errMsg">
    <ion-spinner name="bubbles">
      <h4>Loading... Please wait</h4>
    </ion-spinner>
  </div>

  <!-- Display error message -->
  <div *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{ errMsg }}</h4>
  </div>

</ion-content>
